@import "tailwindcss";

body {
  background-color: #0D0D0D;
  color: white;
  font-family: 'Inter', sans-serif;
}

/* custom neon styles */
.text-neon-green {
  color: #00ff9d;
}
.bg-neon-green {
  background-color: #00ff9d;
}
.border-neon-green {
  border-color: #00ff9d;
}
.shadow-neon-green {
  box-shadow: 0 0 20px #00ff9d;
}

.input-neon {
  @apply w-full p-3 rounded-xl bg-gray-900 text-white border border-gray-700 focus:outline-none focus:ring-2 focus:ring-[#00ff9d] focus:border-[#00ff9d];
}


@keyframes pulseGlow {
  0%, 100% {
    box-shadow: 0 0 15px #00FFAA, 0 0 25px #00C8FF;
  }
  50% {
    box-shadow: 0 0 35px #00FFAA, 0 0 50px #00C8FF;
  }
}

.glow-animate {
  animation: pulseGlow 2s infinite ease-in-out;
}
